.frontpage_title {
  text-align: center;
}

.search_field {
  display: block;
  margin: 2rem auto 0.5rem auto;
  width: 40%;
  font-size: 20px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.search_field:focus {
  outline: none !important;
}

.search_field:focus::placeholder {
  color: transparent;
}

.search_button {
  display: block;
  font-size: 18px;
  font-weight: 600;
  min-width: 4rem;
  min-height: 2rem;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(243, 182, 129);
}

.search_button:hover {
  background-color: rgba(243, 182, 129, 0.8);
}

.result_notice {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.page_buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  justify-content: center;
}

.page_buttons > div {
  padding: 0 1rem;
  cursor: default;
}

.page_buttons > div:hover {
  transform: scale(1.2);
}

.active_button {
  font-weight: bold;
  border-radius: 20px;
  background-color: rgba(222, 184, 135, 0.6);
}

@media (max-width: 600px) {

}
